#projectDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1#displayTitle {
    text-align: center;
}

#projectLinks {
    margin: 2rem;
}

#projectDisplay a {
    text-decoration: none;
}

.projectBox {
    height: 15rem;
    border: 1px solid black;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #4c4040;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 10%;
    transition-property: font-size, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.projectBox:hover {
    color: #869ef4;
    font-size: 2.1rem;
}

@media (max-width: 700px) {
    .projectBox {
        width: 20rem;
    }

    .projectBox img {
        width: 300px;
        height: 170px;
    }
}

@media (max-width: 400px) {
    .projectBox {
        width: 12rem;
    }

    .projectBox img {
        width: 190px;
        height: 120px;
    }
}